#main {
	background-image: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947), radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
	position: fixed;
    top :0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.header {
	margin-top: 50px;
	font-size: 72px;
	text-align: center;
	-webkit-text-stroke: 2px #e073ef;
    color: #d0c8c5;
    font-weight: bold;
}

.container {
	position: relative;
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
	height: 400px;
	overflow: hidden;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	border:solid 7px #41403E;
	z-index: 2;
}

li {
	border-radius: 255px 10px 225px 10px/10px 225px 10px 255px;
}
.data-field {
	width: 40%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center ;
}
#seconds {
	vertical-align: top;
	width: 40%;
	height: 20px;
	border-radius: 5px;
}


.action-button {
	padding: 5px 40px;
  	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}


.blue {
	background-color: #3498DB;
	text-shadow: 0px -2px #2980B9;
}


.slider {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.slider li {
	list-style: none;
	position: absolute;
	height: 400px;
	overflow: hidden;
}

.slider li img {
	width: 100%;
	height: 100%;
}


.left-slider-right {
	z-index: 1;
	-webkit-animation: leftSlideright 4s ease-in-out; 

}

@-webkit-keyframes leftSlideright {
  50% {
    transform: translateX(-52%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
    visibility: hidden;
  }
}


.right-slider-right {
	z-index: 0;
	-webkit-animation: rightSlideright 4s ease-in-out; 
}

@-webkit-keyframes rightSlideright {
  50% {
    transform: translateX(52%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}

.left-slider-left{
	z-index: 0;
	-webkit-animation: leftSlideleft 4s ease-in-out; 

}

@-webkit-keyframes leftSlideleft {
  50% {
    transform: translateX(-52%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}


.right-slider-left {
	z-index: 1;
	-webkit-animation: rightSlideleft 4s ease-in-out; 
}

@-webkit-keyframes rightSlideleft {
  50% {
    transform: translateX(52%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
  }
}


.hidden {
	visibility: hidden;
}


.active {
	z-index: 1;
}



 .seq-next,
.seq-prev {
  position: absolute;
  top: 50%;
  margin-top: -33px;
  width: 35px;
  height: 66px;
  cursor: pointer;
  pointer-events: auto;
  /* Image replacement */
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  z-index: 20;
}

 .seq-next {
  right: 20px;
  background: url("https://raw.githubusercontent.com/SequenceJS/modern-slide-in/ef79a3005818c71087c6abca2cda48f91ff3eb01/images/bt-next.png");
}



 .seq-prev {
  left: 20px;
  background: url("https://raw.githubusercontent.com/SequenceJS/modern-slide-in/ef79a3005818c71087c6abca2cda48f91ff3eb01/images/bt-prev.png");
}


